*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: lighten;
    color: rgb(16, 16, 16);
    margin-top: 10px;
}
   
.header{
    display: flex;
    width: 100%;
    gap: 40%;
}

.header-title{
    display: inline;
    margin-left: 45%;
    height: 30px;
    color: rgba(63, 63, 202, 0.777);
}

.header-title:hover{
    opacity: 1;
    color: rgba(240, 55, 240, 0.916);
    text-transform: uppercase;
}

.home-button{
    width: 100px;
}

.fa-home{
    height: 60px;
    width: 100%;
    background-color: rgba(242, 86, 242, 0.789);
    margin-left: 95%;
    text-align: center;
    font-size: 58px;
    border-radius: 30px;
}

.fa-home:hover{
    transform: scale(1.15); 
    background-color: rgba(238, 35, 17, 0.788);
    box-shadow: 4px 4px 5px rgba(238, 35, 17, 0.788);
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.686);
}

.container{
    margin-right: 70px;
    position: relative;
}

.img-container{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    box-shadow: 3px 6px 0px rgba(230, 26, 206, 0.322);
}

.image-display{
    padding: 10px;
    min-width: 40%;
    margin-right: 20px;
    object-fit: fill;
}

.course-description{
    padding: 10px 5px;
    color: #3B5998;
    font-size: 19px;
}

.contents{
    margin-bottom: 20px;
}


.footer-foot{
    margin-top: 19px;
    width: 100%;
    height: 60px;
    background-color: rgba(32, 3, 32, 0.485);
}

.footer-container{
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 15px;
    margin-right: 20px;
}

/* Social media css */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius:30px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 30px;
  }

  .fa-instagram {
    background-image: linear-gradient(violet,red,yellow);
    color: white;
    border-radius: 30px;
  }

.footer-para{
    font-size: large;
    color: white;
    opacity: 0.9;
    font-weight: 300;
    padding-top: 25px;
    margin-right: 600px;
}